@import "tailwindcss";

@theme {
  --color-background: #0f0f0f;
  --color-card: #1a1a1a;
  --color-accent: #6c63ff;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: white;
    font-family: var(--font-sans);
  }
}
